.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 286px;
}
.main {
  display: flex;
}
.input {
  margin-right: 12px;
  width: 377px;
}
.circles {
  display: flex;
  gap: 16px;
}
.circle {
  list-style: none;
}
